In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec

In [3]:
import seaborn as sns

In [4]:
nt = pd.read_csv('/Users/cesarvenzor/Documents/Projects/JupNotebook/Project3/netflix_titles copy.csv')

In [12]:
#change default resolution
plt.rcParams['figure.dpi'] = 200 #or dpi=200

In [9]:
print(f"Matplotlib Version : {mpl.__version__}")
print(f"Seaborn Version : {sns.__version__}")

Matplotlib Version : 3.3.4
Seaborn Version : 0.11.1

In [11]:
nt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [9]:
nt.head().T

,0,1,2,3,4
show_id,s1,s2,s3,s4,s5
type,TV Show,Movie,Movie,Movie,Movie
title,3%,7:19,23:59,9,21
director,NaN,Jorge Michel Grau,Gilbert Chan,Shane Acker,Robert Luketic
cast,"João Miguel, Bianca Comparato, Michel Gomes, R...","Demián Bichir, Héctor Bonilla, Oscar Serrano, ...","Tedd Chan, Stella Chung, Henley Hii, Lawrence ...","Elijah Wood, John C. Reilly, Jennifer Connelly...","Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar..."
country,Brazil,Mexico,Singapore,United States,United States
date_added,"August 14, 2020","December 23, 2016","December 20, 2018","November 16, 2017","January 1, 2020"
release_year,2020,2016,2011,2009,2008
rating,TV-MA,TV-MA,R,PG-13,PG-13
duration,4 Seasons,93 min,78 min,80 min,123 min
listed_in,"International TV Shows, TV Dramas, TV Sci-Fi &...","Dramas, International Movies","Horror Movies, International Movies","Action & Adventure, Independent Movies, Sci-Fi...",Dramas
description,In a future where the elite inhabit an island ...,After a devastating earthquake hits Mexico Cit...,"When an army recruit is found dead, his fellow...","In a postapocalyptic world, rag-doll robots hi...",A brilliant group of students become card-coun...

In [12]:
nt.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000